<h1>Contacta con nosotros</h1>


<form>
    <h3>Datos Personales</h3>
    <input type="text" name="nombres" id="nombres" placeholder="Nombre" required>
    <input type="text" name="Apellidos" id="Apellidos" placeholder="Apellidos" required>
    <input type="text" name="Usuario" id="Usuario" placeholder="Usuario" required><br>
    <h3>Motivo de la consulta</h3>
    <input type="radio" name="Motivo de la consulta" value="incorrecto"><label>Video juego incorrecto</label>
    <input type="radio" name="Motivo de la consulta" value="cancelado"><label>Video juego cancelado</label>
    <input type="radio" name="Motivo de la consulta" value="otros"><label>otros</label> <br><br>
    <textarea placeholder="Escribe aquí..." rows="25" cols="65"></textarea> <br><br>
    <input type="submit" value="Enviar">
</form>
