<div id="lista">
    <table *ngIf="videoJuego">
        <tr>
            <td>ID: {{videoJuego.id}}</td>
        </tr>
        <tr>
            <td>Título: {{videoJuego.titulo}} </td>
        </tr>
        <tr>
            <td>Compañia: {{videoJuego.compania}} </td>
        </tr>
        <tr>     
            <td>Valoración: {{videoJuego.valoracionMedia}}</td>
        </tr>
        <tr>
            <td><img [src]="videoJuego.image.src"></td>

        </tr>
        
        <br>
            <button routerLink="/lista">Volver</button>
    </table>
</div>


