<div id="lista">
    <!-- Mediante un ngIF, comprobamos que la variable "videojuego tiene valor, de ser así, mediante un ng template, el cual contiene una tabla con los atributos
        del videojuego, mostraremos los datos". En caso de no tener valor, mediante un ng template, mostraremos un texto "El videojuego que buscas no existe"-->
    <ng-container *ngIf="videoJuego; then mostrarVideoJuego; else mostrarError">
    </ng-container>
    <ng-template #mostrarVideoJuego>
        <table>
            <tr>
                <td>ID: {{videoJuego.id}}</td>
            </tr>
            <tr>
                <td>Título: {{videoJuego.titulo}} </td>
            </tr>
            <tr>
                <td>Compañia: {{videoJuego.compania}} </td>
            </tr>
            <tr>     
                <td>Valoración: {{videoJuego.valoracionMedia}}</td>
            </tr>
            <tr>
                <td><img [src]="videoJuego.image.src"></td>
    
            </tr>
            
            <br>
                <button routerLink="/lista">Volver</button>
        </table>
    </ng-template>
    <ng-template #mostrarError>
        <h1>El videojuego que buscas no existe</h1>
        <button routerLink="/lista">Volver al listado</button>
    </ng-template>
</div>


